<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<ul>
    <li>
        <a href="{% url 'admin:login' %}">Admin</a>
    </li>
    <li>
        <a href="{% url 'juego_list' %}">Juegos</a>
    </li>
    <li>
        <a href="{% url 'login' %}">Login</a>
    </li>
    <li>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}

            <button type="submit">Logout</button>
        </form>
    </li>
</ul>
</body>
</html>